body {
    background-color:#0F172A;
}


.app-container {
    background:#0F172A;
}


.sidebar {

    background:#111827;

    min-height:100vh;

    padding:25px;

}


.sidebar-title {

    color:#38BDF8;

}



.filter-list {

    color:#E5E7EB;

}


.filter-list label {

    display:block;

    margin-bottom:8px;

    cursor:pointer;

}


.filter-list label:hover {

    color:#38BDF8;

}



.kpi-card {

    background:#1E293B;

    border-radius:15px;

    padding:20px;

}



.kpi-title {

    color:#94A3B8;

}


.kpi-value {

    color:white;

}


.kpi-description {

    color:#CBD5E1;

}


.main-title {

    color:#38BDF8;

}


.subtitle {

    color:#CBD5E1;

}


.ai-panel {

    background:#1E293B;

    padding:25px;

    border-radius:15px;

    color:#E5E7EB;

}